{% extends "master.html.twig" %}

{% block addHead %}
    <script src="../../js/broker.js"></script>
{% endblock %}

{% block header %}
    <h1>Add a property</h1>
{% endblock %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- FORM CONTAINER -->
    <div class="form-container">
        <!-- PROGRESS BAR -->
        <div class="form-progress">
            <div class="step">
                <div class="circle-container">
                    <i class="bi bi-house-door-fill"></i>
                </div>
                <p>Property Details</p>
            </div>
            <div class="step">
                <div class="circle-container">
                    <i class="bi bi-geo-alt"></i>
                </div>
                <p>Property Location</p>
            </div>
            <div class="step">
                <div class="circle-container">
                    <i class="bi bi-images"></i>
                    <p>Property Images</p>
                </div>
            </div>
            <div class="step">
                <div class="circle-container">
                    <i class="bi bi-check-lg"></i>
                    <p>Submit</p>
                </div>
            </div>
        </div>
        <!-- FORMS -->
        <form method="POST" enctype="multipart/form-data" id="property-form">
            <!-- FORM STEP-1 -->
            <fieldset class="form-step">
                <div class="form-group row">
                    <label for="">Title</label>
                    <input type="text" name="title" value="{{ values.title }}" />
                    {# <span id="errorMsgtitle" class="errorMsg"></span> #}
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input type="number" name="price" step="0.01" value="{{ values.price }}" />
                    {# <span id="errorMsgPrice" class="errorMsg"></span> #}
                    <label for="">Bedrooms</label>
                    <input type="number" name="bedrooms" value="{{ values.bedrooms }}" />
                    {# <span id="errorMsgBedrooms" class="errorMsg"></span> #}
                    <label for="">Bathrooms</label>
                    <input type="number" name="bathrooms" value="{{ values.bathrooms }}" />
                    {# <span id="errorMsgBathrooms" class="errorMsg"></span> #}
                    <label for="">Year built</label>
                    <input type="text" name="buildingYear" value="{{ values.buildingYear }}" />
                    {# <span id="errorMsgbuildingYear" class="errorMsg"></span> #}
                    <label for="">Lot area (sqft)</label>
                    <input type="number" name="lotArea" value="{{ values.lotArea }}" />
                    {# <span id="errorMsgLotArea" class="errorMsg"></span> #}
                </div>
                <div class="form-group row">
                    <label for="">Description</label>
                    <textarea name="description" cols="30" rows="10" class="form-control">{{ values.description }}</textarea>
                    {# <span id="errorMsgDescription" class="errorMsg"></span> #}
                </div>
                <div>
                    <button id="step1" class="btn btn-primary next" type="button">Next</button>
                </div>
            </fieldset>
            <!-- FORM STEP-2 -->
            <fieldset class="form-step">
                <label for="">Location</label>
                <div class="form-group">
                    <label for="">Stree address</label>
                    <input type="text" name="streetAddress" value="{{ values.streetAddress }}" />
                    <label for="">Appartment No.</label>
                    <input type="number" name="appartmentNo" value="{{ values.appartmentNo }}" />
                    <label for="">City</label>
                    <input type="text" name="city" value="{{ values.city }}" />
                    <label for="">Province</label>
                    <select name="province" value="{{ values.province }}" id="provinceSelect"></select>
                    {# <select name="province" id="provinceSelect"></select> #}
                    <label for="">Postal code</label>
                    <input type="text" name="postalCode" value="{{ values.postalCode }}" />
                </div>
                <div>
                    <button class="btn btn-primary prev" type="button">Previous</button>
                    <button id="step2" class="btn btn-primary next" type="button">Next</button>
                </div>
            </fieldset>
            <!-- FORM STEP-3 -->
            <fieldset class="form-step">
                <div class="form-group">
                    <label for="">Upload property images</label>
                    <input type="file" name="propertyImages[]" multiple class="form-control-file" />
                </div>
                <div>
                    <button class="btn btn-primary prev" type="button">Previous</button>
                    <input type="submit" name="submit" value="Create a property" class="btn btn-primary" />
                </div>
            </fieldset>
            <!-- last page shows a success message with a button linked to the property page  -->
            <fieldset class="form-step">
                <div>
                    <a href="">
                        <button class="btn btn-primary" type="button">View the Property</button>
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
    
{% endblock %}