{% extends "master.html.twig" %}

{% block title %}Property Listing{% endblock %}

{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<div class="title-single-box">
					<h1 class="title-single">Property Listing</h1>
					<span class="color-text-a">My Properties</span>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="#">Home</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Property Listing
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Listing Start /-->
<section class="property-grid grid">
	<div class="container">
		<div class="row">
			{% for property in propertyList %}
			<div class="col-md-4">
				<div class="card-box-a card-shadow">
					<div class="img-box-a">
					{% if property.photoFilePath %}
						<img class="img-a img-fluid" alt="property photo" src="uploads/{{property.id}}/thmb-{{property.photoFilePath}}">
					{% else %}
						<img class="img-a img-fluid" alt="property photo" src="images/defaultproperty.jpg">
					{% endif %}
					</div>
					<div class="card-overlay">
						<div class="card-overlay-a-content">
							<div class="card-header-a">
								<h2 class="card-title-a">
									<a href="/myproperty/{{property.id}}">
									{% if property.appartmentNo %}
										{{property.appartmentNo}}
									{% endif %}
									{{property.streetAddress}},
									{{property.city}}
									</a>
								</h2>
							</div>
							<div class="card-body-a">
								<div class="price-box d-flex">
									<span class="price-a">$ {{property.price}}</span>
								</div>
								<a href="/myproperty/{{property.id}}" class="link-a">Click here to view
									<span class="ion-ios-arrow-forward"></span>
								</a>
							</div>
							<div class="card-footer-a">
								<ul class="card-info d-flex justify-content-around">
									<li>
										<h4 class="card-info-title">Lot area</h4>
										<span>{{property.lotArea}}m
											<sup>2</sup>
										</span>
									</li>
									<li>
										<h4 class="card-info-title">Beds</h4>
										<span>{{property.bedrooms}}</span>
									</li>
									<li>
										<h4 class="card-info-title">Baths</h4>
										<span>{{property.bathrooms}}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{# FIXME: show Load More if there are more properties to display #}
	<div class="text-center">
		<button class="btn btn-a" id="loadMore">Load More</button>
	</div>
</section>

{% endblock %}