{% extends "master.html.twig" %}

{% block addHead %}
	<script>
		$(document).ready(function() {
			showProvinces();
		});

		function showProvinces() {
			const provinces = ['NL', 'PE', 'NS', 'NB', 'QC', 'ON', 'MB', 'SK', 'AB', 'BC', 'YT', 'NT', 'NU'];
			let optionList = '<option value="none">- Select -</option>';
			for (let i = 0; i < provinces.length; i++) {
				optionList += `<option value="${provinces[i]}">${provinces[i]}</option>`;
			}
			$("#provinceSelect").html(optionList);
		}
	</script>
{% endblock %}

{% block content %}

<!--/ Header start /-->
<section class="intro-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<div class="title-single-box">
					<h1 class="title-single">Edit Property</h1>
					<span class="color-text-a">Edit a property information</span>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
					<ol class="breadcrumb">
            <li class="breadcrumb-item">
							<a href="/">Home</a>
						</li>
						<li class="breadcrumb-item">
							<a href="/myproperty/{{property.id}}">
              {% if property.appartmentNo %}
								# {{property.appartmentNo}}
							{% endif %}
							{{property.streetAddress}}
              </a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Edit Property
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!--/ Header End /-->

<section>
	<div class="container">
		<div class="row">
			<form class="form-a property-form-group" method="post" role="form">
				<div class="row">
					<div class="col-md-12 mb-3">
						<div class="form-group">
							<label for="">Title</label>
							<input class="form-control form-control-lg form-control-a" type="text" name="title" value="{{ property.title }}" />
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="">Price</label>
        			<input class="form-control form-control-lg form-control-a" type="number" name="price" step="0.01" value="{{ property.price }}" />
						</div>
					</div>
					<div class="col-md-3 mb-3">
						<div class="form-group">
							<label for="">Bedrooms</label>
							<input class="form-control form-control-lg form-control-a" type="number" name="bedrooms" value="{{ property.bedrooms }}" />
						</div>
					</div>
					<div class="col-md-3 mb-3">
						<div class="form-group">
							<label for="">Bathrooms</label>
							<input class="form-control form-control-lg form-control-a" type="number" name="bathrooms" value="{{ property.bathrooms }}" />
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="">Year built</label>
							<input class="form-control form-control-lg form-control-a" type="number" name="buildingYear" value="{{ property.buildingYear }}" />
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-group">
							<label for="">Lot area (sqft)</label>
							<input class="form-control form-control-lg form-control-a" type="number" name="lotArea" value="{{ property.lotArea }}" />
						</div>
					</div>
					<div class="col-md-12 mb-3">
						<div class="form-group">
							<label for="">Description</label>
							<textarea class="form-control" name="description" cols="45" rows="8" name="description" cols="30">{{ property.description }}</textarea>
						</div>
					</div>
					<div class="col-md-8 mb-3">
						<div class="form-group">
							<label for="">Stree address</label>
							<input class="form-control form-control-lg form-control-a" type="text" name="streetAddress" value="{{ property.streetAddress }}" />
						</div>
					</div>
					<div class="col-md-4 mb-3">
						<div class="form-group">
							<label for="">Appartment No.</label>
							<input class="form-control form-control-lg form-control-a" type="number" name="appartmentNo" value="{{ property.appartmentNo }}" />
						</div>
					</div>
					<div class="col-md-4 mb-3">
						<div class="form-group">
							<label for="">City</label>
							<input class="form-control form-control-lg form-control-a" type="text" name="city" value="{{ property.city }}" />
						</div>
					</div>
					<div class="col-md-4 mb-3">
						<div class="form-group">
							<label for="">Province</label>
							<select class="form-control form-control-lg form-control-a" name="province" value="{{ property.province }}" id="provinceSelect"></select>
						</div>
					</div>
					<div class="col-md-4 mb-3">
						<div class="form-group">
							<label for="">Postal code</label>
							<input class="form-control form-control-lg form-control-a" type="text" name="postalCode" value="{{ property.postalCode }}" />
						</div>
					</div>
					<div class="form-group property-form-group">
						<label for="">Upload property images</label>
						<input class="form-control form-control-lg form-control-a" type="file" name="propertyImages[]" multiple class="form-control-file" />
					</div>
					<div class="btn-center">
						<input type="submit" name="submit" value="Update" class="btn btn-a btn-margin" />
						<input type="submit" name="submit" value="Delete" class="btn btn-a" />
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}