{% if propertyList %}

{% for p in propertyList %}
<tr>
    <td>
        <a href="/admin/property/edit/{{p.id}}">
            <div class="admin-edit-square">
                <i class="fas fa-edit admin-edit-icon"></i>
            </div>
        </a>
        <a href="/admin/property/delete/{{p.id}}">
            <div class="admin-delete-square">
                <i class="fas fa-trash admin-delete-icon"></i>
            </div>
        </a>
    </td>
    <td>{{p.id}}</td>
    <td>{{p.brokerId}}</td>
    <td>{{p.price}}</td>
    <td>{{p.title}}</td>
    <td>{{p.bedrooms}}</td>
    <td>{{p.bathrooms}}</td>
    <td>{{p.buildingYear}}</td>
    <td>{{p.lotArea}}</td>
    <td>{{p.appartmentNo}}</td>
    <td>{{p.streetAddress}}</td>
    <td>{{p.city}}</td>
    <td>{{p.province}}</td>
    <td>{{p.postalCode}}</td>
</tr>
{% endfor %}

{% endif %}

{# ----------------------------------------------------------------------------------------------------------- #}

{% if pendingList %}

{% for p in pendingList %}
    <tr>
        <td>
            <button class="btn btn-primary adminPendingBlueButton" onclick="window.location='/admin/pending/accept/{{p.userId}}';">Accept</button>
            <button class="btn btn-primary adminPendingBlueButton" onclick="window.location='/admin/pending/decline/{{p.userId}}';">Decline</button>
        </td>
        <td>{{p.userId}}</td>
        <td>{{p.licenseNo}}</td>
        <td>{{p.firstName}}</td>
        <td>{{p.lastName}}</td>
        <td>{{p.company}}</td>
    </tr>
{% endfor %}

{% endif %}

{# ----------------------------------------------------------------------------------------------------------- #}

{% if buyerList %}

{% for b in buyerList %}
<tr>
    <td>
        <a href="/admin/users/edit/{{b.id}}">
            <div class="admin-edit-square">
                <i class="fas fa-edit admin-edit-icon"></i>
            </div>
        </a>
        <a href="/admin/users/delete/{{b.id}}">
            <div class="admin-delete-square">
                <i class="fas fa-trash admin-delete-icon"></i>
            </div>
        </a>
    </td>
    <td>{{b.id}}</td>
    <td>{{b.email}}</td>
    <td>{{b.firstName}}</td>
    <td>{{b.lastName}}</td>
    <td>{{b.phone}}</td>
    <td>{{b.streetAddress}}</td>
    <td>{{b.city}}</td>
    <td>{{b.province}}</td>
    <td>{{b.postalCode}}</td>
</tr>
{% endfor %}

{% endif %}

{# ----------------------------------------------------------------------------------------------------------- #}

{% if brokerList %}

{% for b in brokerList %}
<tr>
    <td>
        <a href="/admin/users/edit/{{b.id}}">
            <div class="admin-edit-square">
                <i class="fas fa-edit admin-edit-icon"></i>
            </div>
        </a>
        <a href="/admin/users/delete/{{b.id}}">
            <div class="admin-delete-square">
                <i class="fas fa-trash admin-delete-icon"></i>
            </div>
        </a>
    </td>
    <td>{{b.id}}</td>
    <td>{{b.email}}</td>
    <td>{{b.licenseNo}}</td>
    <td>{{b.firstName}}</td>
    <td>{{b.lastName}}</td>
    <td>{{b.company}}</td>
    <td>{{b.jobTitle}}</td>
    <td>{{b.phone}}</td>
    <td>{{b.appartmentNo}}</td>
    <td>{{b.streetAddress}}</td>
    <td>{{b.city}}</td>
    <td>{{b.province}}</td>
    <td>{{b.postalCode}}</td>
</tr>
{% endfor %}

{% endif %}