{% extends "admin/interface_admin.html.twig" %}

{% block title %}Properties
{% endblock %}

{% block addHead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var currPageNo = {{pageNo}};

        window.addEventListener('popstate', (event) => {
            loadPage(event.state.page, true);
        });

        function loadPage(newPageNo, noHistory = false) {
            if (newPageNo < 1 || newPageNo > {{maxPages}}) return;
            $("#pageNav" + currPageNo).css("font-weight","Normal");
            $("#pageNav" + newPageNo).css("font-weight","Bold");
            currPageNo = newPageNo;
            $("#pageNavPrev").toggle(newPageNo > 1);
            $("#pageNavNext").toggle(newPageNo < {{maxPages}});
            $(".propertyTable").load("/propertydata/" + currPageNo);
            if (noHistory == false) {
                history.pushState({page: currPageNo}, '', '/admin/property/list/' + currPageNo);
            }
        }

        $(document).ready(function() {
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

            loadPage({{pageNo}}, true);

        });
    </script>
{% endblock %}

{% block contentHeader %}Property List
{% endblock %}

{% block content %}

	<button class="btn btn-primary adminBlueButton" onclick="window.location='/admin/property/add';">Add New Property</button>

			<div class="pageNavigation">
			<span id="pageNavPrev" onclick="loadPage(currPageNo-1)">Previous</span>
			{% for no in 1 .. maxPages %}
				<span id="pageNav{{no}}" onclick="loadPage({{no}})">{{no}}</span>
			{% endfor %}
			<span  id="pageNavNext" onclick="loadPage(currPageNo+1)">Next</span>
		</div>
		
	{# Table for list of properties #}
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">*Modify*</th>
					<th scope="col">Property ID</th>
					<th scope="col">Broker ID</th>
					<th scope="col">Price</th>
					<th scope="col">Title</th>
					<th scope="col">Bedrooms</th>
					<th scope="col">Bathrooms</th>
					<th scope="col">Building Year</th>
					<th scope="col">Lot Area</th>
					<th scope="col">Appartment #</th>
					<th scope="col">Street Address</th>
					<th scope="col">City</th>
					<th scope="col">Province</th>
					<th scope="col">Postal Code</th>
				</tr>
			</thead>

			{# Table body loaded in here #}
			<tbody class="propertyTable"></tbody>

		</table>
	</div>
	<br>


{% endblock %}
