{% extends "admin/master_admin.html.twig" %}

{% block title %}Edit Property{% endblock %}

{% block addHead %}

<script type="text/javascript">
$(document).ready(function(){
    $('.reorder_link').on('click',function(){
        $("ul.reorder-photos-list").sortable({ tolerance: 'pointer' });
        $('.reorder_link').html('save reordering');
        $('.reorder_link').attr("id","saveReorder");
        $('#reorderHelper').slideDown('slow');
        $('.image_link').attr("href","javascript:void(0);");
        $('.image_link').css("cursor","move");
        
        $("#saveReorder").click(function( e ){
            if( !$("#saveReorder i").length ){
                $("ul.reorder-photos-list").sortable('destroy');
                $("#reorderHelper").html("Reordering Photos - This could take a moment. Please don't navigate away from this page.").removeClass('light_box').addClass('notice notice_error');
                
                var idList = [];
                $("ul.reorder-photos-list li").each(function() {
                    idList.push($(this).attr('id').substr(9));
                });
                
                $.ajax({
                    type: "POST",
                    url: "/reorder",
                    data: {ids: " " + idList + ""},
                    success: function(){
                        console.log("Success: " + data);
                        window.location.reload();
                    }
                });	
                console.log("Failed");
                return false;
            }	
            e.preventDefault();
        });
    });
});
</script>

{% endblock %}

{% block content %}

    {% if errorList %}
        <ul>
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {# Form for adding a property #}
    <form method="post" enctype="multipart/form-data">
        Broker License: <input name="licenseNo" type="text" value="{{broker.licenseNo}}"><br>
        Price: <input name="price" type="number" min="0" step=".01" value="{{property.price}}"><br>
        Title: <input name="title" type="text" value="{{property.title}}"><br>
        Bedrooms: <input name="bedrooms" type="number" min="0" value="{{property.bedrooms}}"><br>
        Bathrooms: <input name="bathrooms" type="number" min="0" value="{{property.bathrooms}}"><br>
        Building Year: <input name="buildingYear" type="number" min="0" value="{{property.buildingYear}}"><br>
        Lot Area: <input name="lotArea" type="number" min="0" step=".01" value="{{property.lotArea}}"><br>
        House Description: <textarea name="description" cols="60" row="10">{{property.description}}</textarea><br>
        Appartment Number: <input name="appartmentNo" type="number" value="{{property.appartmentNo}}"><br>
        Street Address: <input name="streetAddress" type="text" value="{{property.streetAddress}}"><br>
        City: <input name="city" type="text" value="{{property.city}}"><br>
        Province: <input name="province" type="text" value="{{property.province}}"><br>
        Postal Code: <input name="postalCode" type="text" value="{{property.postalCode}}"><br>
        Upload More Images: <input type="file" id="files" name="photos[]" multiple><br>
        <input type="submit" value="Update Property">
    </form>

    {% if propertyPhotos %}
        <div class="reorder-container">
            <a href="javascript:void(0);" class="reorder_link" id="saveReorder">reorder photos</a>
            <div id="reorderHelper" class="light_box" style="display:none;">1. Drag photos to reorder.<br>2. Click 'Save Reordering' when finished.</div>
            <div class="gallery">
                <ul class="reorder_ul reorder-photos-list">
                    {% for key, value in fileNameList %}
                        <li id="image_li_{{value}}" class="ui-sortable-handle">
                            <a href="javascript:void(0);" style="float:none;" class="image_link">
                                <img src="../../../uploads/{{propertyId}}/640p-{{key}}" alt="">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endif %}

{% endblock content %}