{% extends "admin/master_admin.html.twig" %}

{% block title %}User List{% endblock %}

{% block content %}

    {# Table for list of buyers #}
    <h1>List of buyers</h1>
    <p><a href="/admin/users/add/buyer">Add a new buyer</a></p>
         <table border="1">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>*Modify*</th>
        </tr>
        {% for u in usersList %}
        {% if u.role is same as("buyer")%}
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.email}}</td>
            <td>
                <button onclick="window.location='/admin/users/edit/{{u.id}}';">Edit</button>
                <button onclick="window.location='/admin/users/delete/{{u.id}}';">Delete</button>
            </td>
        </tr> 
        {% endif %}               
        {% endfor %}
    </table>
    <br>

    {# Table for list of brokers #}
    <h1>List of brokers</h1>
    <p><a href="/admin/users/add/broker">Add a new broker</a></p>
         <table border="1">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>License #</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone #</th>
            <th>Company</th>
            <th>Job Title</th>
            <th>Photo File Path</th>
            <th>Appartment #</th>
            <th>Street #</th>
            <th>Street Name</th>
            <th>City</th>
            <th>Province</th>
            <th>Postal Code</th>
            <th>*Modify*</th>
        </tr>
        {% for u in usersList %}
        {% if u.role is same as("broker")%}
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.email}}</td>
            <td>{{u.licenseNo}}</td>
            <td>{{u.firstName}}</td>
            <td>{{u.lastName}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.company}}</td>
            <td>{{u.jobTitle}}</td>
            <td><img src="/{{u.photoFilePath}}" width="100"></td>
            <td>{{u.appartmentNo}}</td>
            <td>{{u.streetNo}}</td>
            <td>{{u.streetName}}</td>
            <td>{{u.city}}</td>
            <td>{{u.province}}</td>
            <td>{{u.postalCode}}</td>
            <td>
                <button onclick="window.location='/admin/users/edit/{{u.id}}';">Edit</button>
                <button onclick="window.location='/admin/users/delete/{{u.id}}';">Delete</button>
            </td>
        </tr> 
        {% endif %}               
        {% endfor %}
    </table>
    <br>

{% endblock content %}