<script>
	$(document).ready(function() {
		//add/remove favourite
		$('.fav-corner').on('click', function(e){
			e.preventDefault();
			var userId = $(this).attr('userId');
			var propertyId = $(this).attr('propertyId');
			var method = $(this).attr('method');
			if (method == 'like') {
				$(this).attr('method', 'unlike');
				$("#" + propertyId).replaceWith("<img id='" + propertyId + "' src='/images/addedFavourite.png' title='remove favourite' width='30px'>");
			} else if (method == 'unlike') {
				$(this).attr('method', 'like');
				$("#" + propertyId).replaceWith("<img id='" + propertyId + "' src='/images/addFavourite.png' title='add favourite' width='30px'>");
			}
			$.ajax({
                url: '/addFav',
                type: 'GET',
                data: {userId: userId, propertyId: propertyId, method: method},
                cache: false,
                success: function(data){
              }
			});
		});

    var size = $('.row .col-md-4').size();
    var x = 9;
    $('.row .col-md-4:lt('+x+')').show();
    $('#loadMore').click(function() {
      x = (x + 6 <= size) ? x + 6 : size;
      $('.row .col-md-4:lt('+x+')').show();
      if (x == size) {
        $('#loadMore').hide();
      }
    })

	}) 
  
</script>
<div class="sticky-sm-top text-primary" propCount="{{properties|length}}">{{properties|length}} properties found</div>
<section class="property-grid grid">
    <div class="container">
      <div class="row">
{% for property in properties %}
	<div class="col-md-4" style="display: none;">
        <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="
			  	{% if property.photoFilePath %}
					uploads/{{property.id}}/thmb-{{property.photoFilePath}}
				{% else %}
					images/defaultproperty.jpg
				{% endif %}
			  "class="img-a img-fluid" alt="property photo">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="/properties/{{property.id}}">
						{% if property.appartmentNo %}#
						{% endif %}
						{{property.appartmentNo}}
						{{property.streetAddress}},
						{{property.city}}
					</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">$ {{property.price}}</span>
                  </div>
                  <a href="/properties/{{property.id}}" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Lot area</h4>
                      <span>{{property.lotArea}}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>{{property.bedrooms}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>{{property.bathrooms}}</span>
                    </li>
                    <li>
                      	{% if userSession.role == 'buyer' %}
							{% if property.id in favProperties %}
								<div class='fav-corner card-info-title' method='unlike' propertyId="{{property.id}}" userId='{{userSession.id}}'> 
								<img class='unlike' id='{{property.id}}' src='images/addedFavourite.png' title='remove favourite' width="30px"></div>
							{% else %}
								<div class='fav-corner card-info-title' method='like' propertyId="{{property.id}}" userId='{{userSession.id}}'> 
								<img class='like' id='{{property.id}}' src='images/addFavourite.png' title='add favourite' width="30px"></div>
							{% endif %}
						{% endif %}>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
      </div>
    </div>
    <div class="text-center">
      <button class="btn-primary" id="loadMore">Load More</button>
    </div>
</section>