{% extends "master.html.twig" %}

{% block title %}Brokers - {% endblock %}

{% block addHead %}

<script>
	$(document).ready(function() {
    const size = $('.row .col-md-4').size();
    let x = 9;
    $('.row .col-md-4:lt('+x+')').show();
    $('#loadMore').click(function() {
      x = (x + 6 <= size) ? x + 6 : size;
      $('.row .col-md-4:lt('+x+')').show();
      if (x == size) {
        $('#loadMore').hide();
      }
    });
	}); 
  
</script>

{% endblock %}

{% block content %}

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Broker List</h1>
            <span class="color-text-a">Our Broker List</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Broker List
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Broker List Star /-->
  <section class="agents-grid grid">
    <div class="container">
      <div class="row">
        {% for broker in brokerList %}
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src=
              {% if broker.photoFilePath %}
                "/uploads/{{broker.photoFilePath}}"
              {% else %}
                "images/agent-4.jpg"  
              {% endif %}
              alt="broker profile photo" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="#" class="link-two">{{broker.firstName}}
                      <br> {{broker.lastName}}</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <div class="info-agents color-a">
                  <p>
                    <strong>Company: </strong> {{broker.company}}
                  </p>
                  <p>
                    <strong>Title: </strong> {{broker.jobTitle}}
                  </p>
                  <p>
                    <strong>Phone: </strong> {{broker.phone}}
                  </p>
                  <p>
                    <strong>Email: </strong> {{broker.email}}
                  </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-a" id="loadMore">Load More</button>
    </div>
  </section>
  <!--/ Broker List End /-->
{% endblock %}