{% extends "master.html.twig" %}

{% block content %}
  
<!--/ Carousel Start /-->
<div class="intro intro-carousel">
  <div id="carousel" class="owl-carousel owl-theme">
    {% for featProp in featPropList %}
      
    <div class="carousel-item-a intro-item bg-image" style="background-image: url(uploads/{{featProp.id}}/orig-{{featProp.photoFilePath}})">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top capitalize">{{featProp.city}}, {{featProp.province}}
                    <br> <span class="uppercase">{{featProp.postalCode}}</span>
                  </p>
                  <h1 class="intro-title mb-4">
                    {# <span class="color-b">  #}
                    {% if featProp.appartmentNo %}
                      {{featProp.appartmentNo}}
                    {% endif %}
                    {{featProp.streetAddress}}
                    {# </span> <br>  #}
                    {# {{featProp.streetAddress}} #}
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a capitalize">house | {{featProp.price}}</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!--/ Carousel end /-->

<!--/ Services Start /-->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Our Services</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-gamepad"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Lifestyle</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
              convallis a pellentesque
              nec, egestas non nisi.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">Read more
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-usd"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Loans</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Mauris blandit
              aliquet elit, eget tincidunt
              nibh pulvinar a.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">Read more
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-home"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Sell</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
              convallis a pellentesque
              nec, egestas non nisi.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">Read more
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Services End /-->

<!--/ Property Start /-->
<section class="section-property section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Latest Properties</h2>
          </div>
          <div class="title-link">
            <a href="/properties">All Property
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="property-carousel" class="owl-carousel owl-theme">

    {% for property in propertyList %}

      <div class="carousel-item-b">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img src=
              {% if property.photoFilePath %}
                "uploads/{{property.id}}/thmb-{{property.photoFilePath}}"
              {% else %}
                "images/defaultproperty.jpg"
              {% endif %}
            class="img-a img-fluid" alt="property photo">
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="property-single.html">
                    {% if property.appartmentNo %}
                      {{property.streetAddress}}<br>
                    {% endif %}
                    {{property.streetAddress}}</a>
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">$ {{property.price}}</span>
                </div>
                <a href="/properties/{{property.id}}" class="link-a">Click here to view
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Lot area</h4>
                    <span>{{property.lotArea}}m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Beds</h4>
                    <span>{{property.bedrooms}}</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baths</h4>
                    <span>{{property.bathrooms}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
<!--/ Property End /-->

<!--/ Agents Start /-->
<section class="section-agents section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Best Brokers</h2>
          </div>
          <div class="title-link">
            <a href="/brokers">All Brokers
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for broker in brokerList %}
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src=
						{% if broker.photoFilePath %}
							"/{{broker.photoFilePath}}"
						{% else %}
							"/images/default_broker.jpg"  
						{% endif %}
						alt="broker profile photo" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="agent-single.html" class="link-two capitalize">{{broker.firstName}}
                    <br> {{broker.lastName}}</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <div class="info-agents color-a">
                <p class="capitalize">
                  <strong>Company: </strong> {{broker.company}}
                </p>
                <p class="capitalize">
                  <strong>Title: </strong> {{broker.jobTitle}}
                </p>
                <p class="capitalize">
                  <strong>Phone: </strong> {{broker.phone}}
                </p>
                <p class="capitalize">
                  <strong>Email: </strong> {{broker.email}}
                </p>
                {% if broker.streetAddress %}
                <p class="capitalize">
                  <strong>Company Address: </strong>  
                  {% if broker.appartmentNo %}
                    {{broker.appartmentNo}}
                  {% endif %}
                  {{broker.streetAddress}}, {{broker.city}}, {{broker.province}}  
                </p>
                {% endif %}
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</section>
<!--/ Agents End /-->

{% endblock %}