{% extends "master.html.twig" %}
{% block title %}
Register
{% endblock %}
{% block addHead %}
    <script>

        $(document).ready(function() {

            $('.reg-broker').hide();
            
            $('input[name=isBroker]').on('click', function() {
                if($(this).is(':checked')) {
                    $('.reg-broker').show();
                } else {
                    $('.reg-broker').hide();
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
<!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h4 class="title-single">Sign up as buyer or broker</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->
  <section class="section-about">
	<div class="container">
    <form method="post">
        <div class="row g-3">
            <div class="col-12">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" value="{{data.email}}">
                <div class="err-msg">{{er.email}}</div>
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control">
                <div class="err-msg">{{er.password}}</div>
            </div>
            <div class="col-12">
                <label for="pwRepeat" class="form-label">Re-enter password</label>
                <input type="password" name="pwRepeat" class="form-control">
                <div class="err-msg">{{er.pwRepeat}}</div>
            </div><br>
            <div class="col-12 form-check">
                <input type="checkbox" class="form-check-input" name="isBroker">
                <label class="form-check-label" for="isBroker">I'm a broker</label>
            </div>
            <div class="reg-broker row g-3">
            <div class="col-sm-6">
                <label for="brokerFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" name="brokerFirstName" value="{{data.firstName}}">
                <div class="err-msg">{{er.brokerFirstName}}</div>
            </div>
            <div class="col-sm-6">
                <label for="brokerLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="brokerLastName" value="{{data.lastName}}">
                <div class="err-msg">{{er.brokerLastName}}</div>
            </div>
            <div class="col-12">
                <label for="licenseNo" class="form-label">license Number</label>
                <input type="text" name="licenseNo" class="form-control" value="{{data.licenseNo}}" placeholder="AAA000000AAA">
                <div class="err-msg">{{er.licenseNo}}</div>
            </div>
            <div class="col-12">
                <label for="company" class="form-label">Company name that you work for</label>
                <input type="text" name="company" class="form-control" value="{{data.company}}">
                <div class="err-msg">{{er.company}}</div>
            </div>
            </div>
        <button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </div>
    </form>
    </div>
</section>
{% endblock %}